body {
  background-color: #f5f5f5;
}
img {
  width: 100%;
  border-radius: 25px 25px 0 0;
  margin-bottom: 10px;
}
a {
  color: #fff !important;
}
p {
  margin: 0;
}
.logged-in,
.logged-out {
  display: none;
}
.navbar {
  background: linear-gradient(
    225.52deg,
    #271a00 0.45%,
    rgba(0, 0, 0, 0.982162) 45.25%
  );
}
.navbar i {
  color: #f4ac31;
  margin-right: 5px;
}

#mapa {
  width: 100%;
  height: 60vh;
  margin-top: 30px;
}

.propertyName {
  font-weight: bold;
  margin-bottom: .5rem;
}
.propertyStatus {
  margin-bottom: 1.5rem;
}

.alternativeText {
  font-size: 36px;
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

.cityscape {
  position: absolute;
  bottom: -40px;
  left: -30px;
  width: 110%;
}

.mapControls {
  margin: 5px 0 40px 0;
}

.overflowHidden {
  overflow: hidden;
}
.displayNone {
  display: none;
}

#propertiesList {
  justify-content: space-between;
  max-width: 95%;
  margin: 0 auto;
}
.cardProperty {
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 25px;
  max-width: 100% !important;
  padding: 0;
  transition: .5s ease-in-out all;
}
@media (min-width: 600px) {
  .cardProperty {
    max-width: 30% !important;
  }
}
.cardProperty:hover {
  transform:scale(1.1);
}

.mapTypeButton {
  background-color: #271a00;
  color: #fff;
  border: 1px solid #f4ac31;
  width: 100%;
  margin-bottom: 5px;
}
.mapTypeButton:hover {
  background-color: #f4ac31;
  color: #fff;
  border: 1px solid #271a00;
}

.navbar-light .navbar-toggler {
  color: rgb(255,255,255);
}
.navbar-light .navbar-toggler-icon {
  filter: invert(1);
}

